# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

# 3. Homework - work with your own data

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [ ]:

hypertension_DF = pd.read_csv('hypertension_dataset.csv')

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [4]:
#- Summarize the datasets using info() and describe()

hypertension_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174982 entries, 0 to 174981
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Country                  174982 non-null  object
 1   Age                      174982 non-null  int64
 2   BMI                      174982 non-null  float64
 3   Cholesterol              174982 non-null  int64
 4   Systolic_BP              174982 non-null  int64
 5   Diastolic_BP             174982 non-null  int64
 6   Smoking_Status           174982 non-null  object
 7   Alcohol_Intake           174982 non-null  float64
 8   Physical_Activity_Level  174982 non-null  object
 9   Family_History           174982 non-null  object
 10  Diabetes                 174982 non-null  object
 11  Stress_Level             174982 non-null  int64
 12  Salt_Intake              174982 non-null  float64
 13  Sleep_Duration           174982 non-null  float64
 14  Heart_Rate               174982 non-null  int64
 15  LDL                      174982 non-null  int64
 16  HDL                      174982 non-null  int64
 17  Triglycerides            174982 non-null  int64
 18  Glucose                  174982 non-null  int64
 19  Gender                   174982 non-null  object
 20  Education_Level          174982 non-null  object
 21  Employment_Status        174982 non-null  object
 22  Hypertension             174982 non-null  object
dtypes: float64(4), int64(10), object(9)
memory usage: 30.7+ MB

In [5]:
hypertension_DF.describe()

,Age,BMI,Cholesterol,Systolic_BP,Diastolic_BP,Alcohol_Intake,Stress_Level,Salt_Intake,Sleep_Duration,Heart_Rate,LDL,HDL,Triglycerides,Glucose
count,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000,174982.000000
mean,53.493319,27.494672,224.539335,134.505229,89.450315,14.991069,5.013041,8.482757,6.996468,74.495085,129.528271,64.573105,149.569836,134.488187
std,20.786353,7.213866,43.361589,26.019268,17.310789,8.652624,2.582341,3.750074,1.730731,14.438573,34.635795,20.190666,57.765006,37.526882
min,18.000000,15.000000,150.000000,90.000000,60.000000,0.000000,1.000000,2.000000,4.000000,50.000000,70.000000,30.000000,50.000000,70.000000
25%,36.000000,21.200000,187.000000,112.000000,74.000000,7.500000,3.000000,5.200000,5.500000,62.000000,100.000000,47.000000,100.000000,102.000000
50%,54.000000,27.500000,225.000000,135.000000,89.000000,15.000000,5.000000,8.500000,7.000000,74.000000,130.000000,65.000000,150.000000,134.000000
75%,71.000000,33.700000,262.000000,157.000000,104.000000,22.500000,7.000000,11.700000,8.500000,87.000000,160.000000,82.000000,200.000000,167.000000
max,89.000000,40.000000,299.000000,179.000000,119.000000,30.000000,9.000000,15.000000,10.000000,99.000000,189.000000,99.000000,249.000000,199.000000

In [6]:
#- Are there any duplicate rows?
hypertension_DF.duplicated().sum()

np.int64(0)

In [7]:
# Calculate the mean median and mode for each column

for col in hypertension_DF.select_dtypes(include='number').columns:
    print(f"\nColumn: {col}")
    print(f"Mean: {hypertension_DF[col].mean()}")
    print(f"Median: {hypertension_DF[col].median()}")
    print(f"Mode: {hypertension_DF[col].mode().tolist()}")

Column: Age
Mean: 53.49331931284361
Median: 54.0
Mode: [73]

Column: BMI
Mean: 27.494672023408118
Median: 27.5
Mode: [22.5]

Column: Cholesterol
Mean: 224.53933547450595
Median: 225.0
Mode: [178]

Column: Systolic_BP
Mean: 134.5052291092798
Median: 135.0
Mode: [174]

Column: Diastolic_BP
Mean: 89.4503148895315
Median: 89.0
Mode: [85]

Column: Alcohol_Intake
Mean: 14.991069367134905
Median: 15.0
Mode: [6.7]

Column: Stress_Level
Mean: 5.013041341395115
Median: 5.0
Mode: [7]

Column: Salt_Intake
Mean: 8.482756512098389
Median: 8.5
Mode: [9.9]

Column: Sleep_Duration
Mean: 6.996468208158554
Median: 7.0
Mode: [6.5]

Column: Heart_Rate
Mean: 74.49508520876434
Median: 74.0
Mode: [83]

Column: LDL
Mean: 129.52827147935216
Median: 130.0
Mode: [79]

Column: HDL
Mean: 64.57310466219383
Median: 65.0
Mode: [86]

Column: Triglycerides
Mean: 149.56983575453475
Median: 150.0
Mode: [52]

Column: Glucose
Mean: 134.4881873564138
Median: 134.0
Mode: [177]

In [8]:
# Are there any missing or null values?

hypertension_DF.isnull().sum()

Country                    0
Age                        0
BMI                        0
Cholesterol                0
Systolic_BP                0
Diastolic_BP               0
Smoking_Status             0
Alcohol_Intake             0
Physical_Activity_Level    0
Family_History             0
Diabetes                   0
Stress_Level               0
Salt_Intake                0
Sleep_Duration             0
Heart_Rate                 0
LDL                        0
HDL                        0
Triglycerides              0
Glucose                    0
Gender                     0
Education_Level            0
Employment_Status          0
Hypertension               0
dtype: int64

In [ ]:
#- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)


print("Ages over 120:")
print(hypertension_DF[hypertension_DF['Age'] > 120])

print("\nSystolic BP over 300:")
print(hypertension_DF[hypertension_DF['Systolic_BP'] > 300])

print("\nSleep Duration over 24 hours:")
print(hypertension_DF[hypertension_DF['Sleep_Duration'] > 12])

Ages over 120:
Empty DataFrame
Columns: [Country, Age, BMI, Cholesterol, Systolic_BP, Diastolic_BP, Smoking_Status, Alcohol_Intake, Physical_Activity_Level, Family_History, Diabetes, Stress_Level, Salt_Intake, Sleep_Duration, Heart_Rate, LDL, HDL, Triglycerides, Glucose, Gender, Education_Level, Employment_Status, Hypertension]
Index: []

[0 rows x 23 columns]

Systolic BP over 300:
Empty DataFrame
Columns: [Country, Age, BMI, Cholesterol, Systolic_BP, Diastolic_BP, Smoking_Status, Alcohol_Intake, Physical_Activity_Level, Family_History, Diabetes, Stress_Level, Salt_Intake, Sleep_Duration, Heart_Rate, LDL, HDL, Triglycerides, Glucose, Gender, Education_Level, Employment_Status, Hypertension]
Index: []

[0 rows x 23 columns]

Sleep Duration over 24 hours:
Empty DataFrame
Columns: [Country, Age, BMI, Cholesterol, Systolic_BP, Diastolic_BP, Smoking_Status, Alcohol_Intake, Physical_Activity_Level, Family_History, Diabetes, Stress_Level, Salt_Intake, Sleep_Duration, Heart_Rate, LDL, HDL, Triglycerides, Glucose, Gender, Education_Level, Employment_Status, Hypertension]
Index: []

[0 rows x 23 columns]

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.

# 4. Storytelling With Data graph